<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="public-head" :: public-head/>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="w-100 h-100 img-wrap">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="public-nav :: public-nav"></header>
    <h1 style="color:black; font-size:22px;" class="mt-3 mb-3">Add Reservation</h1>
    <form class="w-50 h-50 mx-auto flex-column" th:action="@{/admin/reservation/save}" method="post" th:object="${reservation}">
      <div class="container p-3">


        <div class="mt-3 mb-3 row">


          <label for="reservation_name" class="col-sm-2 col-form-label">Reservation</label>
          <div class="col-sm-10">
            <input type="text" name="reservation_name" id="reservation_name" class="form-control" placeholder="Reservation Name">
          </div>
        </div>


        <div class="mb-3 row">
          <label for="bookingname" class="col-sm-2 col-form-label">Booking Name</label>
          <div class="col-sm-10">
            <input type="text" name="bookingname" id="bookingname" class="form-control" placeholder="Booking Name">
          </div>
        </div>


        <div class="mb-3 row">
          <label for="date" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-10">
            <input type="text" name="date" id="date" class="form-control" placeholder="Date">
          </div>


        </div>
        <div class="mb-3 row">
          <label for="time" class="col-sm-2 col-form-label">Time</label>
          <div class="col-sm-10">
            <select name="time" id="time" class="form-select">
              <option value="10.00 AM">10.00 AM</option>
              <option value="9.00 PM">9.00 PM</option>
            </select>
          </div>


        </div>


        <div class="mb-3 row">
          <label for="total_reservation" class="col-sm-2 col-form-label">Total Reservation</label>
          <div class="col-sm-10">
            <input type="text" name="total_reservation" id="total_reservation" class="form-control" placeholder="Total Reservation">
          </div>


        </div>
        <div class="mb-3 row">
          <div>

            <a th:href="@{/admin/reservation}" class="btn btn-primary mb-3 text-uppercase" style="width:120px;">Back
            </a>
            <button type="submit" class="btn btn-primary mb-3 text-uppercase" style="width:120px;">Add
            </button>
          </div>
        </div>

    </form>
  </div>

  <footer th:replace="public-footer :: public-footer"></footer>
</div>


</body>
</html>