<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<style>
    .mySlides {display:none;}
</style>
<head th:replace="public-head" :: public-head/>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="w-100 h-100 img-wrap">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header th:replace="public-nav :: public-nav"></header>
        <main class="px-3">
            <img sec:authorize="isAnonymous()" src="/images/lablogo.png" alt="Lab System" height="400" width="400">
            <h1 style="color:black; font-size:22px;" class="mb-3">UPTM Lab Reservation System</h1>
            <p style="color:black;" sec:authorize="isAnonymous()" class="lead">This is strictly for administrator access!</p>
            <p style="color:black;"sec:authorize="isAnonymous()" class="lead">Please <a th:href="@{/login}">login</a> with your registered account.</p>
            <p style="color:black;" sec:authorize="!hasRole('ADMIN') and isAuthenticated()">Welcome,
                [[${#request.userPrincipal.principal.fullName}]].</p>
            <p sec:authorize="hasRole('ADMIN')">Welcome, Administrator.</p>
            <div sec:authorize="hasRole('ADMIN')" class="mx-auto d-flex w-60 h-90">
                <img class="mx-auto mySlides" src="/images/lab.jpg" style="width:50%; height:80%;">
                <img class="mx-auto mySlides" src="/images/lab2.jpg" style="width:50%; height:80%;">
                <img class="mx-auto mySlides" src="/images/lab3.jpg" style="width:50%; height:80%;">
            </div>

        </main>

        <footer th:replace="public-footer :: public-footer"></footer>
    </div>
</div>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>

</div>
</body>
</html>